<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Soccer Teams</title>
</head>
<body>
  <h1 align = "center" > <u> Top Three Soccer Teams </u> </h1>
</body>
<h2> Select Your Team: </h2>
<form action="#">
  <div>
    <label>
      <input type='radio' name='teamName' value='USA' selected />
      USA</label>
    </div>
    <div>
      <label>
        <input type='radio' name='teamName' value='Brazil' selected />
        Brazil</label>
      </div>
      <div>
        <label>
          <input type='radio' name='teamName' value='Germany' selected />
          Germany</label>
        </div>
      </form>
      <h3>Team Player: </h3>
      <ul>
        <li>Position: </li>
        <li>Salary: </li>
      </ul>
      </html>
